body {
  margin: 0;
}

.container {
  margin: 8px;
  padding: 16px;
  border: 1px solid lightslategray;
}

#tab-wrapper {
  display: inline-flex;
}

.tab {
  padding: 16px;
  border-top: 2px solid transparent;
}

.tab:hover {
  background-color: lightblue;
}

.tab.active {
  border-top: 2px solid teal;
}

.content {
  display: none;
}

.content.active {
  display: block;
  padding: 0 16px;
}

/* if device >= 1024px */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 80rem;
    margin: 8px auto;
  }
}
